<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/abc/style.css">
</head>
<body>
    <form action="/users" method="post">
        <label for="fname">
           FirstName <input type="text" name="fname" placeholder="Enter Your First Name" >
        </label> <br><br>

        <label for="lname">
            LastName <input type="text" name="lname" placeholder="Enter Your Last Name">
        </label><br><br>

        <label for="email">
            Email <input type="email" name="email" placeholder="Enter Your Email">
        </label><br><br>

        <label for="password">
            Pasword <input type="password" name="password" placeholder="Enter Your Password">
        </label><br><br>
        <button>Submit</button>
    </form>
</body>
</html>