<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/abc/style.css">
</head>
<body>
    <form action="/products" method="post">
        <label for="title">
            Title <input type="text" name="title" placeholder="Enter title of the item">
        </label> <br><br>
        
        <label for="price">
            Price <input type="text" name="price" placeholder="Enter the price of the item">
        </label><br><br>
        
        <label for="description">
            Description <input type="text" name="description" placeholder="Enter the description of the item">
        </label><br><br>
        
        <button>Submit</button>
    </form>
</body>
</html>